.svelte-kit
build
node_modules
.DS_Store
static/data
*.options.yaml
.vscode/settings.json
.env
.evidence/meta
.evidence/template/.svelte-kit
.evidence/template/static/data
sources/snowflake_saas/connection.yaml
.evidence/template/sources/snowflake_saas/connection.yaml
__pycache__
*.pyc
*.db
*.bak
data/
