# Copy this file to connection.yaml and fill in your credentials
name: snowflake_saas
type: snowflake
options:
  account: abebbgm-jxb85658
  username: YOUR_USERNAME
  password: YOUR_PASSWORD
  database: ANALYTICS_POC
  warehouse: COMPUTE_WH
  schema: SAAS_DEMO
